@charset "UTF-8";

/* ダウンロード */
.download_container {
    font-family: sans-serif;
}

/* 進捗ゲージ */
#dlProgress {
    width: 50vw;
    height: 5vh;
    position: absolute;
    top: 60vh;
    left: 40vw;
    transform: translateX(-50%);
    display: none;
}

/* 上部の文字 */
#download-title {
    width: 100%;
    font-size: 6vh;
    position: absolute;
    top: 5vh;
    text-align: center;
}

#inquiry {
    font-size: 3vh;
}

/* ダウンロードボタン */
#dlButton {
    background-image: url(../img/icon/images.png);
    background-size: cover;
    background-position: center;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 25vh;
    left: 40vw;
    transform: translateX(-50%);
}

.flush-icon {
    animation: flushIcon 1s linear 0s infinite;
}

@keyframes flushIcon{
    0%{
        opacity: 0.5;
    }
    25%{
        opacity: 0.75;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 0.5;
    }
}

/* ダウンロード完了の文字 */
#complete {
    font-size: 4vh;
    display: none;
    position: absolute;
    top: 69vh;
    left: 40vw;
    transform: translateX(-50%);
}

/* ページを閉じるの文字 */
#exit {
    font-size: 4vh;
    color: blue;
    display: none;
    position: absolute;
    top: 77vh;
    left: 40vw;
    transform: translateX(-50%);
}

#exit:hover {
    cursor: pointer;
}