@charset "UTF-8";

/* チャットコンテイナー */
.line__container {
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    max-width: 50vw;
    margin: 5vh auto;
    font-size: 80%;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    border-radius: 1vh;
}

/* タイトル */
.line__container .line__title {
    background:rgb(255, 104, 104);
    padding: 1vh;
    text-align: center;
    font-size: 4vh;
    font-weight: 900;
    color: white;
}

/* 会話部分 */
.line__container .line__contents {
    padding: 1vh;
    overflow: hidden;
    line-height: 4vh;
}

.text {
    color: black;
    font-size: 3vh;
    text-align: left;
}

#url {
    color: blue;
}

#url:hover {
    cursor: pointer;
}

.line__container .scroll {
    height: 60vh;
    overflow-y: scroll;
}

/* 相手の会話 */
.line__container .line__left {
    position: relative;
    display: block;
    margin: 1vh 0;
    min-height: 10vh;
    max-width: 75%;
    float: left;
    margin-left: 1vw;
    clear: both;
}

/* 自分の会話 */
.line__container .line__right {
    position: relative;
    display: block;
    margin: 1vh 0;
    min-height: 10vh;
    max-width: 75%;
    float: right;
    margin-right: 1vw;
    clear: both;
}

/* アイコン画像 */
.line__container .line__left figure {
    width: 10vh;
    position: absolute;
    top: 0;
    left: 0;
}

.line__container .line__right figure {
    width: 10vh;
    position: absolute;
    top: 0;
    right: 0;
}

/* アイコン */
.line__container figure img{
    width: 10vh;
    height: 10vh;
}

.line__container .line__left .line__left-text {
    margin-left: 4vw;
}

.line__container .line__right .line__right-text {
    margin-right: 4vw;
}

/* コメントエリア */
.line__container .line__left .text {
    position: relative;
    padding: 1vh 3vh;
    left: 3vw;
    border-radius: 2vh;
    background-color: #FF4747;
}

.line__container .line__right .text {
    position: relative;
    padding: 1vh 3vh;
    right: 3vw;
    border-radius: 2vh;
    background-color: #66C1FF;
}

/* 吹き出し */
.line__container .line__left .text::after {
    content: '';
    position: absolute;
    display: block;
    left: -0.5vw;
    top: 1vh;
    border-right: 2vh solid #FF4747;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
}

.line__container .line__right .text::after {
    content: '';
    position: absolute;
    display: block;
    right: -0.5vw;
    top: 1vh;
    border-left: 2vh solid #66C1FF;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
}

/* 最初は非表示 */
.line__contents .chat-box {
    display: none;
}