@charset "UTF-8";

/* 全体 */
body {
    font-family: "UD Digi Kyokasho N-B";
    background-size: cover;
    background-image: url(../img/background/Board.png);
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}
/* ニャテラシーラッパー */
#nyateracy-wrapper {
    position: absolute;
    top: 40vh;
    left: -10vw;
    display: none;
}
#nyateracy-img {
    height: 70vh;
}
body:hover{
    cursor: default;
}
/* クイズのすべてを管理する親要素 */
.quiz_area{
    text-align: center;
    display: flex;
    position: absolute;
    left: 10vw;
    top: 10vh;
    font-size: 3.5vh;
    color: rgb(255, 255, 255);
}
/* 解説のすべてを管理する親要素 */
.comment_area{
    position: absolute;
    background-position: center;
    left: 30vw;
    top: 5vh;
    user-select: none;
}
/* 回答後に上に被せてタップできなくするための要素（デフォルト非表示、回答後に一時的に表示） */
.quiz_area .quiz_area_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0);
    display: none;
    color: #FFF;
    text-align: center;
}

/* 画面に〇、×を表示するための要素（デフォルト非表示、回答後に一時的に表示） */
.quiz_area .quiz_area_icon{
    position: absolute;
    box-sizing: border-box;
    top: 13vh;
    left: 27vw;
    color: red;
    display: none;
    font-size: 45vh;
    font-weight: bold;
    
}
/* 画面に解説を表示するための要素 */
#comment_image{
    width: 80vw;
    height: 80vh;
    top: -2vh;
    left: 0.5vw;
    position: absolute;
    background-size: cover;
    display: none;
    border-radius: 5vh;
   
}
/* 画面に解説を表示するための要素 */
#last_image{
    width: 80vw;
    height: 80vh;
    top: -3vh;
    left: 0.5vw;
    position: absolute;
    background-size: cover;
    display: none;
    border-radius: 5vh;
   
}
/* 次のクイズへ行くボタンを表示するための要素 */
.back_button{
    border-radius: 100vh;
    text-align: center;
    width: 10vw;
    height: 5vh;
    position: absolute;
    top: 72.5vh;
    left: 65vw;
    color: #000;
    background-color: #fff100;
    border-bottom: 0.3vh solid #ccc100;
    display: none;
}
.back_button:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 0.5vh solid #ccc100;
  }
 /* メニューに戻るボタンを表示するための要素 */
 .last_button{
    border-radius: 100vh;
    text-align: center;
    width: 10vw;
    height: 5vh;
    position: absolute;
    top: 72.5vh;
    left: 65vw;
    color: #000;
    background-color: #fff100;
    border-bottom: 0.3vh solid #ccc100;
    display: none;
}
.last_button:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 0.5vh solid #ccc100;
  }

/* .trueまたは.falseのクラスが付与されたら表示するものとみなす */
.quiz_area .quiz_area_icon.true, .quiz_area .quiz_area_icon.false{
    display: inline;
}

/* .trueは正解（〇を表示） */
.quiz_area .quiz_area_icon.true:before{
    content: '○';
    color: red;
}
/* .falseは不正解（×を表示） */
.quiz_area .quiz_area_icon.false:before{
    content: ' ？';
    color: rgb(46, 85, 255);
}
/* 現在の問題数を表示 */
.quiz_area .quiz_no{
    font-weight: 900;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 40vw;
}
/* 問題文 */
.quiz_area .quiz_question{
    padding: 3vh 13vh 3vh 0vh;
    font-size: 5vh;
    color: rgb(255, 255, 255);
    font-weight: bold; 
}
/* 回答後の結果 */
.clear{
    color: rgb(255, 255, 255);
    width: 100vw;
    top: 5vh;
    left: -10vw;
    font-size: 12vh;
    position: absolute;
    
}
.star{
    width: 100vw;
    top: 23vh;
    left: -10vw;
    position: absolute;
    font-size: 20vh;
    color: rgb(193, 219, 44);
    font-family: "";
}
#menu{
    padding: 1vh;
    width: 20vw;
    top: 65vh;
    left: 30vw;
    font-size: 3vh;
    position: absolute;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*色*/
    border-radius: 0.5vh;/*角の丸み*/
    box-shadow: inset 0 0.2vh 0 rgba(255,255,255,0.2), inset 0 -0.2vh 0 rgba(0, 0, 0, 0.05);
    border: solid 0.1vh #d27d00;/*線色*/
}
#menu:hover {
    color: rgb(255, 0, 0);
}
#menu:focus {
	outline: none;
}


/* 選択肢エリア全体 */
.quiz_area .quiz_ans_area ul{
    
    padding-top: 5vh;
    padding-right: 10vw;
    display: block;
    text-align: center;
    position: absolute;
}

/* 選択肢の要素 */
.quiz_area .quiz_ans_area ul li{
    position: relative;
    box-sizing: border-box;
    list-style: none;
    float: left;
    width: 100%;
    height: 10vh;
    padding-top: 2.5vh;
    margin-bottom: 4vh;
    cursor: pointer;
    box-shadow: 0.7rem 0.7rem hsla(0, 0%, 0%, .1);
    background: #fd9535;/*色*/
    border-radius: 0.5vh;/*角の丸み*/
    box-shadow: inset 0 0.2vh 0 rgba(255,255,255,0.2), inset 0 -0.2vh 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 0.1vh #d27d00;/*線色*/
}

 .quiz_area .quiz_ans_area li:hover{
    color: rgb(255, 0, 0);
    }

/* 押した後 */
.quiz_area .quiz_ans_area ul li.selected{
    background-color: #da8b8b;
}

/* 暗転ラッパー */
#darkness-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    z-index: 1000;
}


