@charset "UTF-8";

#ransomware-container {
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.warning {
    padding: 1vh;
    font-size: 6vh;
    font-weight: bold;
    color: yellow;
}

.lock {
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock img {
    height: 12vh;
}

.money {
    padding: 1vh;
    font-size: 4vh;
    background-color: midnightblue;
}

.money span {
    font-size: 6vh;
    font-weight: bold;
    color: yellow;
}

.delete-title {
    padding: 1vh;
    font-size: 4vh;
    background-color: #383c3c;
}

#days {
    padding: 1vh;
    font-size: 6vh;
    background-color: darkred;
}

.delete-message {
    padding: 1vh;
    font-size: 4vh;
    background-color: #383c3c;
}