@charset "UTF-8";

/* 全体 */
body {
    font-family: "UD Digi Kyokasho N-R";
    background-size: cover;

    /*
        スクロールしないように、
        ・高さをビューポートに対して100%
        ・はみ出し部分を表示しないように設定
    */
    height: 100vh;
    overflow: hidden;
}

body:hover{
    cursor: default;
}

/* PCラッパー */
#pc-wrapper {
    width: 80vw;
    height: 90vh;
    border: solid 2vh gray;
    border-radius: 5vh;
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    background-size: cover;
}

/* ダウンロード */
.download_container {
    font-family: sans-serif;
}

/* 進捗ゲージ */
#dlProgress {
    width: 50vw;
    height: 5vh;
    position: absolute;
    top: 60vh;
    left: 40vw;
    transform: translateX(-50%);
    display: none;
}

/* 上部の文字 */
#thanks {
    width: 75vw;
    font-size: 6vh;
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
}

/* ダウンロードボタン */
#dlButton {
    background-image: url(../img/icon/images.png);
    background-size: cover;
    background-position: center;
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 20vh;
    left: 40vw;
    transform: translateX(-50%);
}

#dlButton:hover {
    cursor: pointer;
}

/* ダウンロード完了の文字 */
#complete {
    font-size: 4vh;
    display: none;
    position: absolute;
    top: 69vh;
    left: 40vw;
    transform: translateX(-50%);
}

/* ページを閉じるの文字 */
#exit {
    font-size: 4vh;
    color: blue;
    display: none;
    position: absolute;
    top: 77vh;
    left: 40vw;
    transform: translateX(-50%);
}

#exit:hover {
    cursor: pointer;
}