@charset "UTF-8";

/* 全体 */
body {
    font-family: "UD Digi Kyokasho N-R";
    background-image: url("../img/background/pc_room_evening.jpg");
    /*
        スクロールしないように、
        ・高さをビューポートに対して100%
        ・はみ出し部分を表示しないように設定
    */
    height: 100vh;
    overflow: hidden;
}

body :hover{
    cursor: default;
}

/* ローディング */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 250;
}

#animation {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: flush 1s linear 0s infinite;
}

.loading-text {
    color: white;
    font-size: 5vh;
}

.loading-circle{
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear 0s infinite;
}

@keyframes flush{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* PCのディスプレイ */
.pc-display {
    width: 60vw;
    height: 90vh;
    background-image: url("../img/game/grass_field.png");;
    border: solid 2vh gray;
    border-radius: 5vh;
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
}

.game-text-box {
    width: 50vw;
    height: 25vh;
    background-color: rgba(84, 0, 253, 0.80);
    border-radius: 3vh;
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.game-text {
    height: 25vh;
}

#game-text {
    font-size: 5vh;
}

.flush {
    animation: flush 1s linear 0s infinite;
}

@keyframes flush{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

.enemy img {
    display: block;
    height: 50vh;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 3vw;
}

.pop {
    width: 30vw;
    height: 40vh;
    background-color: black;
    border: solid 1vh white;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.pop table {
    height: 100%;
    color: white;
    font-size: 5vh;
}

.pop table tr:hover td {
	background-color: gray;
}

.shop {
    width: 40vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.95);
    border: solid 0.5vh gray;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.shop-title {
    height: 10vh;
    line-height: 10vh;
    background-color: rgb(192, 192, 192);
    font-size: 6vh;
}

.shop-items table {
    height: 32vh;
}

.shop-items tr :hover {
    cursor: pointer;
}

.shop-items table tr:hover th, .shop-items table tr:hover td {
	background-color: lightgray;
}

.shop-items th {
    font-family: "HG正楷書体-PRO";
    font-size: 5vh;
}

.shop-items td {
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 3vh;
}

.shop-items td span {
    font-size: 6vh;
    font-style: bold;
}

.current-jewel {
    height: 18vh;
    line-height: 8vh;
    font-size: 4vh;
    color: red;
}

.shop-command {
    height: 10vh;
}

.ad {
    width: 50vw;
    height: 65vh;
    padding-top: 8vh;
    background-color: yellow;
    border-radius: 5vh;
    font-size: 8vh;
    color: red;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.ad-title :hover {
    color: purple;
}

.campaign {
    font-size: 3vh;
}

.campaign-title {
    padding: 7vh 0;
    color: red;
}

.campaign-title span {
    font-family: "UD Digi Kyokasho N-B";
    font-size: 5vh;
}

.campaign-form {
    margin: 0 20vh;
    padding: 4vh 10vw;
    border-radius: 2vh;
    background-color: lightgray;
}

.campaign-form button {
    margin: 2vh 0;
}

.campaign-exit {
    color: blue;
    padding: 7vh 0;
}

.campaign-exit :hover {
    color: purple;
}

.register-text {
    margin: 5vh 0;
    font-family: "UD Digi Kyokasho N-B";
    font-size: 6vh;
    color: rgb(66, 0, 166);
}

.register-img img {
    height: 40vh;
}

.register-exit {
    font-size: 4vh;
    color: blue;
    padding: 7vh 0;
}

.register-exit :hover {
    color: purple;
}