@charset "UTF-8";

/* 全体 */
body {
    font-family: "UD Digi Kyokasho N-R";
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
/* ニャテラシーラッパー */
#nyateracy-wrapper {
    position: absolute;
    top: 25vh;
    left: -5vw;
}

#nyateracy-img {
    height: 100vh;
}
body:hover{
    cursor: default;
}

/* クイズのすべてを管理する親要素 */
.quiz_area{
    text-align: center;
    font-weight: 900;
    display: flex;
    position: absolute;
    left: 35vw;
    top: 8vh;
    font-size: 4vh;
    color: rgb(0, 0, 0);
}
/* 解説のすべてを管理する親要素 */
.comment_area{
    position: absolute;
    background-position: center;
    left: 30vw;
    top: 5vh;
}

/* 回答後に上に被せてタップできなくするための要素（デフォルト非表示、回答後に一時的に表示） */
.quiz_area .quiz_area_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0);
    display: none;
    color: #FFF;
    text-align: center;
}

/* 画面に〇、×を表示するための要素（デフォルト非表示、回答後に一時的に表示） */
.quiz_area .quiz_area_icon{
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    color: red;
    display: none;
    font-size: 10em;
    font-weight: bold;
    -webkit-text-stroke: 4px #FFF;
    
}
   
/* 画面に解説を表示するための要素 */
.comment_image{
    width: 75vw;
    height: 75vh;
    top: 0vh;
    left: -15vw;
    background-image: url(../img/background/comment_image.png);
    position: absolute;
    background-size: cover;
    display: none;
   
}

/* 画面に戻るボタンを表示するための要素 */
.back_button{
    border-radius: 100vh;
    text-align: center;
    width: 10vw;
    position: absolute;
    top: 60vh;
    left: 50vw;
    color: #000;
    background-color: #fff100;
    border-bottom: 1vh solid #ccc100;
    display: none;
}
.back_button:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 1vh solid #ccc100;
  }


/* .trueまたは.falseのクラスが付与されたら表示するものとみなす */
.quiz_area .quiz_area_icon.true, .quiz_area .quiz_area_icon.false{
    display: inline;
}

/* .trueは正解（〇を表示） */
.quiz_area .quiz_area_icon.true:before{
    content: '○';
    color: red;
}
/* .falseは不正解（×を表示） */
.quiz_area .quiz_area_icon.false:before{
    content: '×';
    color: blue;
}


/* 現在の問題数を表示 */
.quiz_area .quiz_no{
    font-weight: 900;
    color: rgb(165, 26, 7);
}

/* 問題文 */
.quiz_area .quiz_question{
    font-size: 7vh;
    color: rgb(255, 255, 255);
    
    font-weight: bold;
    
}


/* 回答後の結果 */
.quiz_area .quiz_result{
    display: none;
    
}
.clear{
    font-size: 10vh;
    color: rgb(255, 255, 255);
}
.star{
    font-size: 20vh;
    color: rgb(197, 177, 0);
    top: 20vh;
    left: 10vw;
    position: absolute;
}
#menu{
    color: black;
    position: absolute;
    width: 16vw;
    height: 7vh;
    top: 55vh;
    left: 40vw;
    padding-top: 1.5vh;
    padding-left: 2vh;
    overflow: hidden;
    box-shadow: 0.30rem 0.25rem hsla(0, 0%, 0%, .1);
    background-image:
      linear-gradient(90deg, rgba(22, 20, 20, 0.1) 2rem, rgba(27, 25, 25, 0) 2.5rem)
    , linear-gradient(90deg, rgb(248, 248, 147), hsla(60, 100%, 85%, 1));
    font-size: 3vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}


/* 以下クイズの選択肢のデザイン */

/* 選択肢エリア全体 */
.quiz_area .quiz_ans_area ul{
    
    margin: 10px 0 0 0;
    padding: 5vh;
    display: block;
    text-align: center;
}


/* 選択肢の要素 */
.quiz_area .quiz_ans_area ul li{
    position: relative;
    box-sizing: border-box;
    list-style: none;
    float: left;
    width: 100%;
    height: 10vh;
    padding-top: 2.5vh;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0.7rem 0.7rem hsla(0, 0%, 0%, .1);
    background-image:
    linear-gradient(90deg, rgba(226, 140, 207, 0.397) 2rem, rgba(27, 25, 25, 0) 2.5rem)
    , linear-gradient(90deg, rgb(248, 248, 147), hsla(60, 100%, 85%, 1));
}
 .quiz_area .quiz_ans_area li:hover{
    color: rgb(255, 0, 0);
    }

/* 押した後 */
.quiz_area .quiz_ans_area ul li.selected{
    background-color: #5f5656;
}



