@charset "UTF-8";

/* 全体 */
body {
    font-family: "UD Digi Kyokasho N-R";
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

body:hover{
    cursor: default;
}

/* PCラッパー */
#pc-wrapper{
    width: 80vw;
    height: 90vh;
    border: solid 2vh gray;
    border-radius: 5vh;
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    background-size: cover;
    overflow: hidden;
}

#ransomware-container {
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.warning {
    padding: 1vh;
    font-size: 6vh;
    font-weight: bold;
    color: yellow;
}

.lock {
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock img {
    height: 12vh;
}

.money {
    padding: 1vh;
    font-size: 4vh;
    background-color: midnightblue;
}

.money span {
    font-size: 6vh;
    font-weight: bold;
    color: yellow;
}

.delete-title {
    padding: 1vh;
    font-size: 4vh;
    background-color: #383c3c;
}

#days {
    padding: 1vh;
    font-size: 6vh;
    background-color: darkred;
}

.delete-message {
    padding: 1vh;
    font-size: 4vh;
    background-color: #383c3c;
}