@charset "UTF-8";

/* 木のボード */
#board{
    width: 60vw;
    height: 90vh;
    background-image: url(../img/background/keijiban.png);
    border: none;
    position: absolute;
    top: -4vh;
    left: 0;
    right: 0;
    margin: auto;
    background-size: cover;
    background-position: center center;
}
/* ボードタイトル */
#board-title{
    font-size: 4vh;
    line-height: 4vh;
    font-weight: 900;
    top: 16vh;
    left: 30vw;
    position: absolute;
    transform: translateX(-50%);
    background-size: cover;
}
/* あなたの書き込み */
.anata{
    height: 20vh;
    border: solid 0.1vh rgb(255, 230, 0);
    background-color: rgb(253, 248, 168);
    font-size: 3vh;
    font-weight: 900;
    top: 22vh;
    left: 30vw;
    position: absolute;
    transform: translateX(-50%);
    background-size: cover;
}
#LV{
    color: rgb(12, 12, 12);
    font-size: 3vh;
}
#com{
    color: rgb(16, 48, 233);
    font-size: 2.5vh;
}

/* ショウの書き込み */
.maru{
    top: 50vh;
    left: 20vw;
    position: absolute;
    transform: translateX(-50%);
    background-size: cover;
}
.New{
    font-size: 2vh;
    color: rgb(230, 29, 29);
    font-weight: 900;
    top: 44vh;
    left: 35vw;
    position: absolute;
    transform: translateX(-50%);
    background-size: cover;
}
#LV-sho{
    color: rgb(19, 17, 17);
    font-size: 2.5vh;
}
#com-sho{
    color: rgb(194, 9, 3);
    font-size: 2vh;
}
.sho{
    border: solid 0.1vh rgb(255, 110, 110);
    background-color: rgb(238, 185, 238);
    font-size: 2vh;
    font-weight: 900;
    top: 48vh;
    left: 35vw;
    position: absolute;
    transform: translateX(-50%);
    background-size: cover;
}



